@page
@model GitHubRepoSecrets.Pages.Secrets.EditModel

@{
    ViewData["Title"] = "Edit Secret";
}

<h1 class="display-4">Edit</h1>

<h4>Secret</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SecretModel.Name" class="control-label"></label>
                <input type="hidden" asp-for="SecretModel.Name" />
                <input asp-for="SecretModel.Name" class="form-control" name="Name" id="disabledname" disabled />
                <span asp-validation-for="SecretModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecretModel.Value" class="control-label"></label>
                <input asp-for="SecretModel.Value" class="form-control" />
                <span asp-validation-for="SecretModel.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-owner="@Model.Owner" asp-route-repo="@Model.Repo">Back to List</a>
</div>