@page
@model GitHubRepoSecrets.Pages.AboutModel
@{
}
<h1 class="display-4">About</h1>

<p>GitHubRepoSecrets is a project that aims to help developers to manage their GitHub repository secrets.</p>

<p>Access repository secrets that you are a writer, even without admin rights.</p>

<p>You can see and use the source code at <a href="https://github.com/nicruo/githubreposecrets">GitHub</a>.</p>

<p>This project was created by José Medeiros <i>aka</i> nicruo, Cloud Solution Architect at Microsoft.</p>